<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traducteur</title>
</head>
<body>
    <header>
        <h1>Bienvenue sur l'API PolyTeacher</h1>
    </header>
    <main>
        <section>
            <h2>translation tools</h2>
            <p><a href="/api/french_spanish_translator">Traducteur Français vers Espagnol</a></p>
            <p><a href="/api/french_english_translator">Traducteur Français vers Anglais</a></p>
        </section>
        <section>
            <h2>All translations</h2>
            <p><a href="api/all_translations/">All translations</a></p>

        </section>
        <section>
            <h2>Administration</h2>
            <p><a href="/admin">Partie administrateur</a></p>
        </section>
    </main>
</body>
</html>